html {
  font-size: 10px;
  background-color: lightblue;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
	font-family: Arial;
	color: blue;}
	
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
	
